@font-face {
    font-family: 'Free Sans';
    src: url("../fonts/Free Sans Bold.ttf");
}

@font-face {
    font-family: 'Akira Expanded';
    src: url("../fonts/Akira Expanded Demo.otf");
}

* {
    margin: 0;
	font-family: 'Free Sans';
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
	margin: 0 auto;
}

section {
	margin: 1em 5em;
	position: relative;
}

i {
	color: #333;
}

.header {
	white-space: nowrap;
}

.section-label {
	font-size: 1.5em;
	margin-bottom: 0.3em;
}

#title-container {
	width: 100%; height: 3.5em;
	background: white;
	position: sticky; top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10000;
	padding: 0.25em 0;
}

#h-title {
	font-size: 2em;
}

#social-wrapper {
	display: flex;
	justify-content: space-evenly;
}

#ul-social {
	list-style-type: none;
	padding: 0;
}

.a-li {
	font-size: 1em;
}

#photo-gallery {

}

#gallery-container {
	/*display: flex;
	flex-direction: row;
	max-height: 500px;*/
	overflow: scroll;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

#gallery-container > img {
	max-height: 15em;
	height: auto;
	margin: 1em;
	/*position: absolute;
	height: 100%;
	width: auto;*/
}

#instagram-highlights {
	display: flex;
    justify-content: center;
}

.instagram-media {
	
}

#music {
	max-width: 100%;
	margin: 0.5em 1.5em;
}

#albums-spotify {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	min-height: 15em;
	height: 20em;
}

#images {
	max-width: 100%;
}

.img-inline {
	display: flex;
	flex-direction: column;
}

img {
	max-width: 100%;
	margin-top: 0.5em;
	vertical-align: middle;
}

figcaption {
	font-size: 0.7em;
	font-family: 'Calibri';
	padding: 0.3em 0.4em 0 0.4em;
}

a[href="https://www.websiteout.net/counter.php"] {
	margin: 0 1.5em;
}

#palette {
	margin: 0 1.5em;
	display: flex;
	height: 1.618em;
	text-align: justify;
}

#palette > div {
	height: 1.618em;
	width: 100%;
	display: inline-block;
}

#palette > div:nth-child(1) {
	background-color: #4B5320;
}

#palette > div:nth-child(2) {
	background-color: #F1EDE4;
}

#palette > div:nth-child(3) {
	background-color: #9A8E84;
}

#palette > div:nth-child(4) {
	background-color: #422E24;
}

#palette > div:nth-child(5) {
	background-color: #171512;
}