* {
	margin: 0;
	cursor: url(./heart-with-arrow-apple.png), auto;
}

html, body {
	width: 100%; height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

canvas {
	background: black;
}